@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 13% 10%;
    --foreground: 0 0% 98%;
    --card: 45 13% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 45 13% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 39 75% 50%;
    --primary-foreground: 45 13% 10%;
    --secondary: 45 10% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 45 10% 15%;
    --muted-foreground: 0 0% 70%;
    --accent: 10 85% 65%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 45 10% 20%;
    --input: 45 10% 20%;
    --ring: 39 75% 50%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased;
  }
}